
@{
    ViewBag.Title = "LinqToXML";
}

<h2>LinqToXML</h2>

XML:
<pre>
    @ViewBag.xdocument
</pre>

<hr />

<p>Ancestors</p>
@ViewBag.ancestors

<hr />

<p>Descendants</p>
@ViewBag.descendants


<hr />

<p>Elements</p>
@ViewBag.elements

<hr />

<p>ElementsAfterSelf</p>
@ViewBag.elementsAfterSelf

<hr />

<p>ElementsBeforeSelf</p>
@ViewBag.elementsBeforeSelf



